name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: 1.25
        id: go

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 50
          fetch-tags: true
          show-progress: true

      - name: Check go mod tidy is up to date
        run: go mod tidy && git diff --exit-code

      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Test
        run: go test ./...

      - name: Build
        run: make build
